<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100505650015-o75bc79p576r11gj1dkn15eakjsak29s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100505650015-o75bc79p576r11gj1dkn15eakjsak29s</string>
	<key>API_KEY</key>
	<string>AIzaSyAzNCEUVod0ULz_SERfXM_GEqmJ8oAOqrk</string>
	<key>GCM_SENDER_ID</key>
	<string>100505650015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decentElection</string>
	<key>PROJECT_ID</key>
	<string>decent-election-123</string>
	<key>STORAGE_BUCKET</key>
	<string>decent-election-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100505650015:ios:0f75803a89fc21ee462cea</string>
</dict>
</plist>